
@{
    ViewBag.Title = "Breeds";
}

<body>
    <br />
    @foreach (var breed in ViewBag.Breeds)
    {
        
            <div style="max-width: 95%;" class="jumbotron">

                @{
                    var base64 = Convert.ToBase64String(breed.Image);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgsrc' style="max-width: 100px; max-height: 100px"/>

                <h1 style="font-size: 45px;" class="display-3">@breed.Name</h1>
                @Html.Label("Id:")
                <br/>
                <p style="font-size: 15px;">@breed.BreedId</p>
                @Html.Label("Breed characteristics:")
                <li> Size: @breed.Size</li>
                <li> Color: @breed.Color</li>
                <br/>

                @if (ViewBag.Breeds.Count > 1)
                {
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Breeds", new {id = breed.BreedId})" role="button">Details</a>
                }


            </div>
    }


<div style="position: absolute; right: 20px; top: 65px;">
    <input type="button" class="btn btn-primary" value="Add a new breed" onclick="location.href = '@Url.Action("New", "Breeds")'" />
    <br />
    <br />
    @if (ViewBag.Breeds.Count == 1)
    {
        foreach (var breed in ViewBag.Breeds)
        {
            <input type="button" class="btn btn-primary" value="Edit breed" onclick="location.href = '@Url.Action("Edit", "Breeds", new {id = breed.BreedId})'" />
            <br/>
            <br/>
            <input type="button" class="btn btn-primary" value="Delete breed" onclick="location.href = '@Url.Action("Delete", "Breeds", new {id = breed.BreedId})'" />

        }
    }
</div>

</body>
