
@{
    ViewBag.Title = "Index";
}

<body>
    <br />

<table class="table table-striped table-dark ">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Diet</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in ViewBag.Food)
        {
            <tr>
                <th scope="row">@food.Id</th>
                <td>@food.ProductName</td>
                @if (food.Diet == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>
                    <div class="d-flex flex-row-reverse">
                        @if (ViewBag.Food.Count > 1)
                        {
                            <div class="p-2">
                                <a class="stretched-link"  href="@Url.Action("Details", "Food", new {id = food.Id})" role="button"> Details</a>
                            </div>
                        }
                        <div class="p-2">
                            <a class="stretched-link"  onclick="location.href = '@Url.Action("New", "Food")'" role="button"> Add a new Product </a>
                        </div>
                        <div class="p-2">
                            <a class="stretched-link"  href="@Url.Action("Edit", "Food", new {id = food.Id})" role="button"> Edit product </a>
                        </div>
                        <div class="p-2">
                            <a class="stretched-link" href="@Url.Action("Delete", "Food", new {id = food.Id})" role="button"> Delete product </a>
                        </div>
                        </div>
                </td>
                
            </tr>
        }
    </tbody>
    </table>

</body>