@{
    ViewBag.Title = "Hamster";
}

<body>
<br/>

@foreach (var hamster in ViewBag.Hamsters)
{
    <div class="panel-body">
        @Html.Label("Id:")
        <br/>
        <p>@hamster.Id</p>
        <br/>
        @Html.Label("Breed:")
        <p>@hamster.Breed</p>
        <br/>
        @Html.Label("Potential cages:")
        @Html.Partial("_Cage")
        
        <br/>
        @Html.Label("Potential Food: ")
        @Html.Partial("_Food-Hamsters")

    </div>
}

</body>