
@{
    ViewBag.Title = "New";
}


@model PetShop.Models.Hamster


@using (Html.BeginForm(actionName: "New", controllerName: "Hamsters", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.Label("Breed: ")
    <br />
    @Html.TextBoxFor(b => b.Breed.Name, null, new { placeholder = "Type in the hamster's breed name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Name, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Size: ")
    <br />
    @Html.DropDownListFor(b => b.Breed.Size, new SelectList(Model.BreedSizeList, "Value", "Text"), "Choose breed size", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Size, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Color: ")
    <br />
    @Html.DropDownListFor(b => b.Breed.Color, new SelectList(Model.BreedColorList, "Value", "Text"), "Choose breed color", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Color, "", new { @class = "text-danger" })
    <br />

    @*     @Html.Label("Food: ") *@
    @*     <br /> *@
    @*     for (int i = 0; i < Model.Food.Count(); i++) *@
    @*     { *@
    @*         @Html.HiddenFor(b => b.Food[i].Id) *@
    @*         @Html.TextBoxFor(b => b.Food[i].ProductName, null, new { placeholder = "Type in the hamster's food name", @class = "form-control" }) *@
    @*         @Html.ValidationMessageFor(b => b.Food[i].ProductName, "", new { @class = "text-danger" }) *@
    @*         @Html.CheckBoxFor(b => b.Food[i].Diet) *@
    @*     } *@
    @*     <br /> *@


    @Html.Label("Toy: ")
    <br />
    @Html.DropDownListFor(b => b.Toys[0].ProductName, new SelectList(Model.ToysList, "Value", "Text"), "Choose a toy", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Toys[0].ProductName, "", new { @class = "text-danger" })

    <br />

    @Html.LabelFor(b => b.FoodList, "Choose available food:")
    <br />
    for (int i = 0; i < Model.FoodList.Count(); i++)
    {
        @Html.HiddenFor(b => b.FoodList[i].Id)
        @Html.HiddenFor(b => b.FoodList[i].Name)
        @Html.CheckBoxFor(b => b.FoodList[i].Checked)
        @Html.DisplayFor(b => b.FoodList[i].Name)
        <br />
    }

    <br />


    @Html.Label("Has cage? ")
    <br />
    @Html.CheckBoxFor(b => b.HasCage, true)
    @Html.ValidationMessageFor(b => b.HasCage, "", new { @class = "text-danger" })
    <br />

    <input type="file" id="image1" name="image1" />
    <br />
    <button class="btn btn-primary" type="submit">Create</button>
}

