
@{
    ViewBag.Title = "New";
}


@model PetShop.Models.Hamster


@using (Html.BeginForm(actionName: "New", controllerName: "Hamsters", method: FormMethod.Post, htmlAttributes:new { enctype = "multipart/form-data" }))
{

    @Html.Label("Breed: ")
    <br />
    @Html.TextBoxFor(b => b.Breed.Name, null, new { placeholder = "Type in the hamster's breed name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Name, "", new { @class = "text-danger" })
    <br />

    <br />
    @Html.DropDownListFor(b => b.Breed.Size, new SelectList(Model.BreedSizeList, "Value", "Text"), "Choose breed size", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Size, "", new { @class = "text-danger" })
    <br />

    <br />
    @Html.DropDownListFor(b => b.Breed.Color, new SelectList(Model.BreedColorList, "Value", "Text"), "Choose breed color", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Breed.Color, "", new { @class = "text-danger" })
    <br />

    @*     @Html.Label("Food: ") *@
    @*     <br /> *@
    @*     @Html.TextBoxFor(b => b.Food.ProductName, null, new { placeholder = "Type in the hamster's food", @class = "form-control" }) *@
    @*     @Html.ValidationMessageFor(b => b.Food, "", new { @class = "text-danger" }) *@
    @*     <br /> *@
    @* *@
    @*     @Html.Label("Toy: ") *@
    @*     <br /> *@
    @*     @Html.TextBoxFor(b => b.Toys.ProuctName, null, new { placeholder = "Type in the hamster's toy", @class = "form-control" }) *@
    @*     @Html.ValidationMessageFor(b => b.Toys, "", new { @class = "text-danger" }) *@
    @*     <br /> *@

    @Html.Label("Has cage? ")
    <br />
    @Html.CheckBoxFor(b => b.HasCage, true)
    @Html.ValidationMessageFor(b => b.HasCage, "", new { @class = "text-danger" })
    <br />

    <input type="file" id="image1" name="image1" />
    <button class="btn btn-primary" type="submit">Create</button>
}

